@font-face {
  font-family: "B52";
  src: url("/fonts/B52.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Courier New";
  src: url("/fonts/courier_new.eot"); /* IE 9 Compatibility Mode */
  src: url("/fonts/courier_new.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("/fonts/courier_new.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/courier_new.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */ url("/fonts/courier_new.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/courier_new.svg#courier_new")
      format("svg"); /* Chrome < 4, Legacy iOS */
}
