body {
  font-family: "B52", sans-serif;
  background-color: rgb(17, 16, 16);
}

.container {
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}
