.my-courses {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111010;
  z-index: 10000;
  padding: 40px;
  width: 90%;
  &__close {
    font-size: 30px;
    text-align: right;
    color: #fff;
    cursor: pointer;
  }
  &__title {
    text-align: center;
    font-size: 70px;
    color: #fff;
    margin: 0 0 20px 0;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 50px;
  }
  &__head {
    font-size: 30px;
    color: #fff;
    font-family: "Courier New";
  }
  &__course {
    font-size: 20px;
    color: #fff;
    font-family: "Courier New";
    span {
      margin: 0 0 0 10px;
      cursor: pointer;
    }
  }
}
