.requirement {
  border: 1px solid rgb(92, 8, 8);
  &__title {
    background: rgb(92, 8, 8);
    padding: 35px 20px;
    color: rgb(255, 239, 220);
    font-family: "Courier New";
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1%;
    text-align: center;
    @media (max-width: 560px) {
      padding: 20px;
      font-size: 14px;
    }
  }
  &__text {
    padding: 20px;
    color: rgb(0, 0, 0);
    font-family: "Courier New";
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1%;
    text-align: center;
    @media (max-width: 560px) {
      padding: 15px 10px;
      font-size: 12px;
    }
  }
}
