.requirements {
  background: rgb(255, 239, 220);
  padding: 0 0 200px 0;
  &__title {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 11%;
    text-align: center;
    margin: 0 0 60px 0;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 19px;
  }
}

.requirement {
  border: 1px solid rgb(92, 8, 8);
  &__title {
    background: rgb(92, 8, 8);
    padding: 35px 20px;
    color: rgb(255, 239, 220);
    font-family: "Courier New";
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1%;
    text-align: center;
  }
  &__text {
    padding: 20px;
    color: rgb(0, 0, 0);
    font-family: "Courier New";
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1%;
    text-align: center;
  }
}
