.footer {
  background: rgb(56, 7, 7);
  padding: 72px 0 81px 0;
  @media (max-width: 860px) {
    padding: 30px 6px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 860px) {
      flex-direction: column;
      align-items: start;
    }
  }
  &__info {
    @media (max-width: 860px) {
      margin: 0 0 20px 0;
    }
  }
  &__title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 11%;
    margin: 0 0 20px 0;
    @media (max-width: 860px) {
      margin: 0 0 15px 0;
      font-size: 22px;
    }
  }
  &__phone {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 11%;
    @media (max-width: 860px) {
      font-size: 18px;
    }
  }
  &__phone:hover {
    text-decoration: underline;
  }

  &__nav {
  }
  &__list {
    display: flex;
    align-items: center;
    @media (max-width: 860px) {
      flex-direction: column;
      align-items: start;
    }
    li {
      margin: 0 0 0 50.91px;
      @media (max-width: 860px) {
        margin: 12px 0 0 0;
      }
    }
    li:first-child {
      margin: 0;
    }
  }
  &__link {
    color: rgb(255, 255, 255);
    font-family: "Courier New";
    font-size: 26.18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 11%;
    @media (max-width: 860px) {
      font-size: 16px;
    }
  }
  &__link:hover {
    text-decoration: underline;
  }
}
