.header {
  background-color: rgba(96, 5, 5, 0.54);
  padding: 20px 0;
  position: relative; // ОБЯЗАТЕЛЬНО, если z-index используется
  z-index: 102;

  @media (max-width: 560px) {
    padding: 13px 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 102;
  }

  &__logo img {
    height: 40px;
    @media (max-width: 560px) {
      height: 32px;
      width: 28px;
    }
  }

  &__link {
    color: rgb(255, 239, 220);
    font-family: "Courier New";
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.11em;
    transition: 0.2s;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 575px) {
      display: none;
    }
  }
}

.menu {
  position: relative;

  &__icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
    z-index: 103;

    span {
      height: 2px;
      background: white;
      border-radius: 2px;
      transition: 0.3s ease;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    li {
      margin-left: 35px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__link {
    color: rgb(255, 239, 220);
    font-family: "Courier New";
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.11em;

    &:hover {
      text-decoration: underline;
    }
  }

  &__login-mobile {
    display: none;
  }

  @media (max-width: 575px) {
    &__icon {
      display: flex;
      position: relative;
    }

    &__list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgb(17, 16, 16);
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;
      z-index: 100;
    }
    &__list li {
      margin: 0;
    }
    &__link {
      color: rgb(255, 239, 220);
      font-size: 26px;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: 1%;
      text-align: center;
    }

    &.active &__list {
      transform: translateY(0);
    }

    &__login-mobile {
      display: block;
    }
  }

  // --- крестик анимация ---
  &.active &__icon span:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }

  &.active &__icon span:nth-child(2) {
    opacity: 0;
  }

  &.active &__icon span:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }
}
