.card {
  padding: 20px 32px 40px 32px;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  @media (max-width: 560px) {
    padding: 25px 20px;
  }

  &__number {
    flex: 1 1 auto;
    color: rgb(255, 239, 220);
    font-size: 147px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 11%;
    margin: 0 0 40px 0;
    @media (max-width: 560px) {
      font-size: 50px;
    }
  }

  &__title {
    color: rgb(255, 239, 220);
    font-family: "Courier New";
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1%;
    margin: 0 0 10px 0;
    @media (max-width: 560px) {
      font-size: 14px;
      margin: 0 0 5px 0;
    }
  }

  &__description {
    color: rgb(255, 255, 255);
    font-family: "Courier New";
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1%;
    margin-bottom: 20px;
    overflow: hidden;
    @media (max-width: 560px) {
      font-size: 10px;
      margin: 0 0 16px 0;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }

  &__btn {
    color: rgb(17, 16, 16);
    font-family: "Courier New";
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1%;
    text-align: center;
    padding: 10px;
    width: 100%;
    background: rgb(255, 239, 220);
    transition: all 0.3s ease 0s;
    @media (max-width: 560px) {
      font-size: 12px;
      padding: 8px;
    }
  }
  &__btn:hover {
    background: rgb(17, 16, 16);
    color: rgb(255, 239, 220);
    outline: 1px solid rgb(255, 239, 220);
  }
}
