.roadmap {
  padding: 100px 0 200px 0;
  background: rgb(255, 239, 220);

  &__title {
    margin: 0 0 60px 0;
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 11%;
    text-align: center;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    counter-reset: step;
  }
}

.step-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;

  .circle {
    width: 70px;
    height: 70px;
    background: rgb(92, 8, 8);
    color: rgb(255, 239, 220);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    font-size: 60px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 11%;
  }

  .label {
    margin-top: 46px;
    .title {
      color: rgb(17, 16, 16);
      font-family: "Courier New";
      font-size: 24px;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: 1%;
      text-align: center;
      margin: 0 0 10px 0;
    }
    .text {
      color: rgb(17, 16, 16);
      font-family: "Courier New";
      font-size: 18px;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: 1%;
      text-align: center;
    }
  }

  &:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: rgb(92, 8, 8);
    z-index: 0;
  }

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    width: 50%;
    height: 2px;
    background-color: rgb(92, 8, 8);
    z-index: 0;
  }
}
